* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$darkGray: hsl(0, 0%, 63%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$veryDarkGray: hsl(0, 0%, 27%);
$darkBlue: hsl(228, 45%, 44%);

$font-weights: (
    "regular": 500,
    "medium": 600,
    "bold": 700
);

@function weight ($weight-name) {
    @return map-get($font-weights, $weight-name)
}