@import './config';

body {
    width: 100%;
    height: 100vh;
}

main {
    width: 100%;
    height: 100vh;
    font-family: 'League Spartan', sans-serif;
    ;
}

@mixin flexContainer () {
    display: flex;
}

@mixin paddin ($tb, $lr) {
    padding: $tb $lr;
}

/*Hero session*/

.hero {
    width: 100%;
    margin: 1px;
}

.heading {
    width: 100%;
    height: 50vh;
    background-image: url('../images/desktop-image-hero-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   position: relative;
}

.head {
    padding: 2.5em 1.3em 0;
   
}
header {
    @include flexContainer();
    align-items: center;
    justify-content: center;
    position: relative;

    .fa-solid {
        position: absolute;
        left: 0;
        color: $white;
        cursor: pointer;
    }

}

nav {
    .nav-links {
        
        @include flexContainer();
        list-style: none;
        gap: 2em;
        text-transform: lowercase;
        font-weight: weight(medium);
        position: absolute;
        background-color: $white;
        top: -100px;
        height: 6em;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
        @include paddin(0em, 2.5em);
        transition: .5s ease-in-out;
        
       li {

        a {
            color: $black;
            text-decoration: none;

           
    
            &::after {
                content: "";
                width: 0%;
                height: 2px;
                color: $black;
                display: block;
                background-color: $black;
                margin: auto;
                transition: 0.5s;
            }
            &:hover::after {
                width: 70%;
            }
           }
       }
       
    }
    .fa-solid {
        position: absolute;
        left: 0;
        padding-left: .8em;
        font-size: 25px;
        color: $darkGray;
        cursor: pointer;
    }
}

.direction {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    cursor: pointer;
    

    .fa-solid{
        background-color: $black;
        color: $darkGray;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: $veryDarkGray;
            transition: .5s;
        }
    }
}

.hero .first-text {
    @include paddin(3em, 2em);
    display: grid;
    gap: 1em;
    height: auto;
    
    
    p {
        color: $darkGray;
        line-height: 1.5;
    }

}


article h1 {
    font-size: 30px;

    span {
        display: block;
    }

}


article a {
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: weight(bold);
    color: $black;
    text-decoration: none;

    &:hover {
        color: $darkGray;
        transition: .5s;
    }
}



/*Index*/

.image {
    width: 100%;
    height: auto;
}

.image img {
    width: 100%;
}

.index .second-text {
    @include paddin(3em, 2em);
    display: grid;
    gap: 1em;

    p:first-of-type {
        color: $black;
        text-transform: uppercase;
        font-weight: weight(bold);
        letter-spacing: 8px;
    }
    
    p {
        color: $darkGray;
        line-height: 1.5;
    }

}